.container
{
   display: flex;
   flex-direction: column;
   width:100% ;
   align-items: center;
   justify-content: center;
 
}


.b
{
    height: 100px;
    width:100px;
    font-weight: bold;
    font-size: large;
   
    
}

#display
{
    height: 100px;
    width: 405px;
   border: 2px black solid;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
}

